<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404"/>
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL"/>
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Redirect Anatomy" stopProcessing="true">
                    <match url=".*אנטומיה-של-הכתף.*" />
                    <action type="Redirect" url="/shoulder-anatomy.html" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Arthroscopy" stopProcessing="true">
                    <match url=".*(ארטרוסקופיה|ארתרוסקופיה).*" />
                    <action type="Redirect" url="/info-page.html?topic=arthroscopy" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Calcific" stopProcessing="true">
                    <match url=".*הסתיידויות-בגידים.*" />
                    <action type="Redirect" url="/info-page.html?topic=calcific" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Frozen Shoulder" stopProcessing="true">
                    <match url=".*כתף-קפואה.*" />
                    <action type="Redirect" url="/info-page.html?topic=frozen_shoulder" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Latarjet" stopProcessing="true">
                    <match url=".*לטרז.*" />
                    <action type="Redirect" url="/info-page.html?topic=latarjet" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
